
Notification.App/.vs/Notification.App/v16/.suo
Notification.App/.vs/Notification.App/v16/Server/sqlite3/db.lock
Notification.App/.vs/Notification.App/v16/Server/sqlite3/storage.ide
Notification.App/.vs/Notification.App/v16/Server/sqlite3/storage.ide-shm
Notification.App/.vs/Notification.App/v16/Server/sqlite3/storage.ide-wal
Notification.App/.vs/Notification.App/DesignTimeBuild/.dtbcache
